.newsletter-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  width: 100%;
  padding: 80px 0 120px 0;
  .newsletter-title {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0 0 2px 0;
  }
  .newsletter-subtitle {
    letter-spacing: 1px;
    margin-bottom: 12px;
  }
  .newsletter-text {
    font-size: 12px;
    letter-spacing: 1px;
  }
  .newsletter {
    margin-top: 32px;
    .newsletter-input {
      margin-right: 32px;
      border: none;
      border-bottom: 1px solid black;
      padding: 20px;
      background: transparent;
      &::placeholder {
        color: #818284;
      }
    }
    .newsletter-submit {
      text-transform: uppercase;
      background-color: transparent;
      border: 1px solid black;
      padding: 16px 60px;
    }
  }
  .newsletter-helper {
    margin-top: 20px;
    color: green;
  }
}

@media (max-width: 677px) {
  .newsletter-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    width: 100%;
    padding: 60px 0 60px 0;
    .newsletter-title {
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 2px;
      margin: 0 0 8px 0;
      font-size: 18px;
    }
    .newsletter-subtitle {
      letter-spacing: 1px;
      margin-bottom: 12px;
      font-size: 12px;
      width: 300px;
      text-align: center;
    }
    .newsletter-text {
      font-size: 12px;
      letter-spacing: 1px;
      width: 300px;
      text-align: center;
    }
    .newsletter {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .newsletter-input {
        margin-right: 0;
        border: none;
        border-bottom: 1px solid black;
        padding: 16px;
        background: transparent;
        width: 298px;
        margin-bottom: 20px;
        &::placeholder {
          color: #818284;
        }
      }
      .newsletter-submit {
        text-transform: uppercase;
        background-color: transparent;
        border: 1px solid black;
        padding: 16px 60px;
        width: 330px;
        margin-top: 24px;
      }
    }
    .newsletter-helper {
      width: 280px;
      margin-top: 20px;
      color: green;
      font-size: 12px;
      text-align: center;
    }
  }
}