.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 1740px;
}

@media screen and (max-width: 678px) { .product-list { width: 375px; } }
@media screen and (min-width: 677px) and (max-width: 1044px) { .product-list { width:696px;  } }
@media screen and (min-width: 1044px) and (max-width: 1392px) { .product-list { width: 1044px; } }
@media screen and (min-width: 1392px) and (max-width: 1740px) { .product-list { width: 1392px; } }