.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 324px;
  height: 526px;
  padding: 12px;
  &:hover .product-button {
    display: block;
  }

  .product-img {
    width: 348px;
    height: 348px;
    margin-bottom: 32px;
  }
  .product-name {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
    height: 16px;
    white-space: nowrap;
    margin-bottom: 20px;
    text-align: center;
  }
  .product-price {
    color: #a5807a;
    margin-bottom: 4px;
  }
  .product-discount {
    margin-bottom: 8px;
  }
  .product-button {
    display: none;
    width: 280px;
    height: 52px;
    text-transform: uppercase;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
  }
  .button-consult {
    margin-top: 44px;
  }
}

@media (max-width: 677px) {
  .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    height: 440px;
    padding: 12px;
    &:hover .product-button {
      display: block;
    }

    .product-img {
      width: 180px;
      height: 180px;
      margin-bottom: 32px;
    }
    .product-name {
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 500;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      height: 44px;
      white-space: initial;
      margin-bottom: 14px;
      text-align: center;
    }
    .product-price {
      font-size: 12px;
      color: #a5807a;
      margin-bottom: 8px;
    }
    .product-discount {
      margin-bottom: 10px;
      font-size: 12px;
    }
    .product-button {
      display: block;
      font-size: 10px;
      width: 170px;
      height: 48px;
      text-transform: uppercase;
      background-color: white;
      border: 1px solid black;
      cursor: pointer;
    }
    .button-consult {
      margin-top: 44px;
    }
  }
}

@media (max-width: 1024px) {
  .product-item {
    .product-button {
      display: block;
    }
  }
}